.width-fit-content {
	width: fit-content;
	//används inte
}
.page-heading {
	font-size: 1.4375rem;
	color: #111111;
	margin-bottom: 16px;
}
.text-light-color {
	// ska finnas i _base.scss
	color: #626262; //$color-text-light
}
.form-width {
	width: 100%;
	max-width: 430px;
}
.custom-input {
	border: $color-theme solid 2px;
}
.custom-btn {
	background-color: #111111;
	color: white;
	&:hover {
		box-sizing: border-box;
		border: #111111 solid 2px;
	}
}
.nav-btn {
	border: none;
	background: none;
}
