.width-fit-content {
	width: fit-content;
}
.page-heading {
	font-size: 1.4375rem;
	color: #111111;
	margin-bottom: 16px;
}
.text-light-color {
	// ska finnas i _base.scss
	color: #626262; //$color-text-light
}
.form-width {
	width: 100%;
	max-width: 430px;
}
.custom-input {
	border: $color-theme solid 2px;
}
.nav-btn {
	border: none;
	background: none;
}
.headline {
	font-weight: 700;
	font-size: 2rem;
	color: #111111;
}
.vr {
	background-color: #111111;
	width: 2px;
	opacity: 1;
	height: 30px;
	margin-top: 40px;
}
.form-link {
	color: #111111;
	&:hover {
		color: #111111;
	}
}
.socials-btn-row {
	button {
		border: solid 2px $color-theme;
		height: 60px;
		width: 60px;
		font-size: 1.5rem;
		&:hover {
			border: solid 3px $color-theme;
		}
		&:active {
			border: solid 4px $color-theme !important;
		}
	}
	.fa-facebook-f {
		color: #3b5999;
	}
	.fa-twitter {
		color: #55acee;
	}
	.fa-google-plus-g {
		color: #dd4b39;
	}
}
