@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
html, body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #222529;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2 ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #DBE3F5;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1680px;
  }
}
.logo {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #222529;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo::before {
  position: absolute;
  content: "";
  border-top: 4px solid #222529;
  height: 35px;
  width: 15px;
  margin-left: 5px;
}

.star-rating {
  font-size: 2em; /* Increase the font size of the stars */
}

.star-rating span {
  display: inline-block;
  font-size: 25px; /* Increase the font size of the star character */
  cursor: pointer;
}

.star-rating span.on {
  color: #FFBE00; /* Set the color of the active stars */
}

button {
  background-color: transparent;
  border: #FFBE00;
  outline: none;
  cursor: pointer;
}

.on {
  color: #FFBE00;
}

.off {
  color: #ccc;
}

.container {
  display: flex;
  justify-content: center;
}

.account-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.rectangle-img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.account-discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.account-head {
  font-weight: 700;
  font-size: 22px;
}

.account-text {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .account-img {
    font-size: 14px;
  }
}